body{
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

.contenidor1 {
    background: black;
    height: 50px;
    width: auto;
    opacity: 50%;
    display: flex;
    
}

.izq {
    display: flex;
}

.logo {
    padding: 5px 20px;
}

.links {
    display: flex;
}

.documentals {
    color: #fff;
    display: flex;
    margin: 0 5px 0 0;
}

.pelis {
    color: #fff;
    margin: 0 5px 0 0;
}

.series {
    color: #fff;
    margin: 0 5px 0 0;
}

.dreta {
    display: flex;
    float: right;
}

.facebook {
    color: white;
    margin: 0px 5px;
}

.twitter {
    color: white;
    margin: 0px 5px;
    
    
}

.plus {
    color: white;
    margin: 0px 5px;
}

.titol {
    font-size: 11px;
    color: white;
    margin-left: 20px;
}

.documentalsinteresants div {
    background: red;
    height: 250px;
    width: 175px;
    border-radius: 5px; 
    margin: 0 20px 20px 20px;
    float: left;
}

.documentalsinteresants {
    border-radius: 5px;
    float: left;
}

.documentalsvistos div {
    background: red;
    height: 250px;
    width: 175px;
    border-radius: 5px; 
    margin: 0 20px 20px 20px;
    float: left;
}

.documentalsvistos {
    border-radius: 5px;
    float: left;
}

.dv {
    font-size: 11px;
    color: white;
    margin-left: 20px;
}

.pp {
    font-size: 11px;
    color: white;
    margin-left: 20px;
}

.peliculespendents div {
    background: red;
    height: 250px;
    width: 175px;
    border-radius: 5px; 
    margin: 0 20px 20px 20px;
    float: left;
}

.peliculespendents {
    border-radius: 5px;
    float: left;
}
