body {
    background-color: white;
}

.logo {
    background-color: navy;
    height: 200px;
    width: 200px;
    border-radius: 20%;
    text-align: center;
    font-size: 150px;
    margin: auto;
    color: skyblue;
    font-family: Arial bold, sans-serif;
    line-height: 200px;
    font-weight: bold;
    letter-spacing: -4px;
}

.contenidor {
    width: 1100px;
    margin: 50px;

}

.efecte {
    width: 200px;
    height: 250px;
    margin: 10px;
    float: left;
}

.efecte img {
    width: 200px;
    align: center;
}

.efecte p {
    text-align: center;
}

.efecte input {
    width: 200px;
}

.desenfocar img {
    -webkit-filter: blur(10px);
       -moz-filter: blur {10px};
         -o-filter: blur {10px};
            filter: blur(3px);
}

.grisos img {
    filter: grayscale(100%);
}

.ombra img {
    filter: drop-shadow(6px 6px 6px purple);
}

.sepia img {
    filter: sepia(100%);
}

.lluminositat img {
    filter: brightness(50%);
}

.contrast img {
    filter: contrast(50%);
}

.to img {
    filter: hue-rotate(90deg);
}

.invertir img {
    filter: invert(70%);
}

.saturar img {
    filter: saturate(20%);
}

.opacitat img {
    filter: opacity(40%);
}

h1 {
    background: #CCC;
    font-size: 48px;
    clear: both;
}

.fruita {
    background-image: url(Img/Maduixa.png);
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.superposada {
    background-image: url(Img/Llimona.png);
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.multiplicar .superposada {
    mix-blend-mode: multiply;
}

.Trama .superposada {
    mix-blend-mode: screen;
}

.Superposar .superposada {
    mix-blend-mode: overlay;
}

.Enfosquir .superposada {
    mix-blend-mode: darken;
}

.Aclarir .superposada {
    mix-blend-mode: lighten;
}

.colormesfosc .superposada {
    mix-blend-mode: color-burn;
}

.colormesclar .superposada {
    mix-blend-mode: color-dodge;
}

.llumintensa .superposada {
    mix-blend-mode: hard-light;
}

.llumsuau .superposada {
    mix-blend-mode: soft-light;
}

.diferencia .superposada {
    mix-blend-mode: difference;
}

.exclusio .superposada {
    mix-blend-mode: exclusion;
}

.to .superposada {
    mix-blend-mode: hue;
}

.saturacio .superposada {
    mix-blend-mode: saturation;
}

.color .superposada {
    mix-blend-mode: color;
}

.lluminositat .superposada {
    mix-blend-mode: luminosity;
}